.map {
	height: 92.8vh;
	width: 80vw;
	float: right;
	margin:0.2vh, 0, 0, 0;
	display: block;
    z-index: 3;

}
.leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin: 0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.left-menu{
	width: 18vw;
	float: left;
	margin: 1vh 1vw 0 1vw;
	display: block;
    z-index: 5;
    position: relative;
    height: 85vh;
}

.control-btn{
	width: 80%;
	height: 20%;
}
.chart{
	height: 30vh;

	
}
.chart-div{
	margin: 3%;
	height: 10vh;
	width: 50%;

}
.infobox{
	height: 20vh;
}

.header{
	height: 10vh;
}
.event-map {
	height: 92.8vh;
	width: 75%;
	margin:0.2vh 0 0 25%;
	position: absolute;

	display: block;
    z-index: 0;

}
.event-documents-menu{
	height: 93vh;
	width: 25%;
	float: left;
	
}
.event-media-menu{
	height: 90vh;
	width: 25%;
	float: right;
}

body {
  margin: 0;
  background-color: #fff;
  background-image: url(white-waves.png);
  }
main {
  display: block; }